lab2/web-client/src/main/java/com/itmo/egalkin/generated/DeviceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.egalkin.itmo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.egalkin.itmo.com/" name="DeviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.egalkin.itmo.com/" schemaLocation="http://localhost:8081/DeviceService?xsd=1" />
</xsd:schema>
</types>
<message name="getDevices">
<part name="parameters" element="tns:getDevices" />
</message>
<message name="getDevicesResponse">
<part name="parameters" element="tns:getDevicesResponse" />
</message>
<message name="createDevice">
<part name="parameters" element="tns:createDevice" />
</message>
<message name="createDeviceResponse">
<part name="parameters" element="tns:createDeviceResponse" />
</message>
<message name="updateDevice">
<part name="parameters" element="tns:updateDevice" />
</message>
<message name="updateDeviceResponse">
<part name="parameters" element="tns:updateDeviceResponse" />
</message>
<message name="deleteDevice">
<part name="parameters" element="tns:deleteDevice" />
</message>
<message name="deleteDeviceResponse">
<part name="parameters" element="tns:deleteDeviceResponse" />
</message>
<portType name="DeviceWebService">
<operation name="getDevices">
<input message="tns:getDevices" />
<output message="tns:getDevicesResponse" />
</operation>
<operation name="createDevice">
<input message="tns:createDevice" />
<output message="tns:createDeviceResponse" />
</operation>
<operation name="updateDevice">
<input message="tns:updateDevice" />
<output message="tns:updateDeviceResponse" />
</operation>
<operation name="deleteDevice">
<input message="tns:deleteDevice" />
<output message="tns:deleteDeviceResponse" />
</operation>
</portType>
<binding name="DeviceWebServicePortBinding" type="tns:DeviceWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getDevices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createDevice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateDevice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteDevice">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DeviceService">
<port name="DeviceWebServicePort" binding="tns:DeviceWebServicePortBinding">
<soap:address location="http://localhost:8081/DeviceService" />
</port>
</service>
</definitions>